@import '~antd/dist/antd.css';
#root{
  height:100%;width:100%;
}

.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* HeaderPart */
.ant-layout-header{
  min-width:100%;
  background: #f3f3f4;
}
.person_info{
  display: flex;
  float:right;
  /* font-size:16px; */
}
.person_info i{
  margin:0 5px; 
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}
.person_info li:nth-child(1){margin-right:10px;}

/* SiderPart */